*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    background-color: lightblue;
    border: solid 2px darkblue;
}

.item{
    color: darkblue;
    padding: 20px;
    border: solid 2px red;
    height: max-content;
}